<!doctype html>
<title>crypto.</title>
<meta charset="utf-8">
<meta name="description" content="24hr crypto stats from coinbase">
<meta name="author" content="joe">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'marketdata/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'skeleton.css' %}">

<div class=container>
  <div id=header>
    <strong id=title>24 Hour Cryptocurrency Statistics from Coinbase Pro </strong>
    <p> data updated every 10 minutes </p>
    <hr class=hr>
  </div>
</div>
<h1> Product: {{ product.product_id }}</h1>
<h1> <a href="{% url 'marketdata:currency' product.base_currency.id %}">Base Currency: {{ product.base_currency }}</a></h1>
<h1> <a href="{% url 'marketdata:currency' product.quote_currency.id %}">Quote Currency: {{ product.quote_currency }}</a></h1>
<h1> Display Name: {{ product.display_name }}</h1>
